.cookie-panel {
    position: fixed;
    min-height: auto;
    max-height: 35%;
    max-width: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -1000px;
    background: #f2f2f2;
    border-radius: 15px;
    border: none;
    z-index: 20;
    gap: 15px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    color: black;
    font-weight: 500;
    transition: bottom 0.4s ease-in-out;
}

.cookie-panel.show {
    bottom: -80px;
}

.cookie-panel header {
    display: flex;
    gap: 5%;
    white-space: nowrap;
    color: #228fce;
    margin: 1.5rem 1.5rem 0 1.5rem;
}

.cookie-panel header img {
    width: var(--img-size);
    height: auto;
}

.cookie-panel header h2 {
    font-size: var(--fs-h2);
}

.cookie-panel .data {
    text-align: left;
    width: 90%;
    font-size: var(--fs-p);
    line-height: 1.2;
}

.cookie-panel .cookie-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    gap: 5%;
    margin-bottom: 1.5rem;
}

.cookie-panel .cookie-btns .button:first-of-type {
    background: var(--primary-color);
    border: 3px solid transparent;
    color: #f2f2f2;
}

.cookie-panel .cookie-btns .button:last-of-type {
    background: #f2f2f2;
    border: 3px solid var(--primary-color);
    color: var(--primary-color);

}

.cookie-panel .cookie-btns .button {
    font-weight: bold;
    font-size: clamp(1rem, 2vw, 1.25rem);
    padding: clamp(0.5rem, 2vw, 0.75rem) clamp(1rem, 4vw, 2rem);
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}
